asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.6
cos-python-sdk-v5==1.9.8
crcmod==1.7
dicttoxml==1.7.4
Django==3.2.7
djangorestframework==3.12.4
gevent==21.8.0
greenlet==1.1.1
httplib2==0.19.1
idna==3.2
mysqlclient==2.0.3
psycopg2-binary==2.9.1
pycryptodome==3.10.1
pyparsing==2.4.7
pytz==2021.1
qcloud-python-sts==3.0.5
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.6
uWSGI==2.0.19.1
websocket==0.2.1
zope.event==4.5.0
zope.interface==5.4.0
